* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #020202;
    color: #db0b0b;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #000000;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 25px;
}

header h1 {
    color: #eb130b;
    margin-bottom: 10px;
}

header p {
    color: #ee0808;
    font-size: 0.95rem;
}

fieldset {
    border: 1px solid #131212;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #050505;
}

legend {
    font-weight: bold;
    color: #e41b14;
    background: #000000;
    padding: 5px 12px;
    border: 5px solid #000000;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 0.9rem;
    color: #f00a0a;
}

input[type="text"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
    outline: none;
    transition: border-color 0.3s;
}

input:focus, select:focus, textarea:focus {
    border-color: #d81e18;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 5px;
}

.checkbox-group label {
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.btn-enviar {
    width: 100%;
    background-color: #dd1c0e;
    color: rgb(248, 246, 246);
    border: none;
    padding: 14px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-enviar:hover {
    background-color: #e2190b;
}

.whatsapp-btn {
    display: inline-block;
    background-color: #f5f3f3;
    color: #ee0808;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.whatsapp-btn:hover {
    background-color: #1ebe57;
}